<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "control-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :visit_date, class: "control-label" %>
    <%= f.date_select :visit_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :egc, class: "control-label" %>
    <%= f.check_box :egc, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "control-label" %>
    <%= f.date_select :birthday, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gwp, class: "control-label" %>
    <%= f.check_box :gwp, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "control-label" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shipping_address, class: "control-label" %>
    <%= f.text_field :shipping_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :age, class: "control-label" %>
    <%= f.number_field :age, class: "form-control" %>
  </div>

  <h3>Skin Concerns</h3>

  <div class="container form-horizontal">
  <div class="checkbox">
    <%= f.check_box :aging, class: "form-control" %>
    <%= f.label :aging, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :fine_lines, class: "form-control" %>
    <%= f.label :fine_lines, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :dehydration, class: "form-control" %>
    <%= f.label :dehydration, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :sun_damage, class: "form-control" %>
    <%= f.label :sun_damage, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :excess_oil, class: "form-control" %>
    <%= f.label :excess_oil, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :clogged_pores, class: "form-control" %>
    <%= f.label :clogged_pores, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :acne, class: "form-control" %>
    <%= f.label :acne, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :dark_spots, class: "form-control" %>
    <%= f.label :dark_spots, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :dullness, class: "form-control" %>
    <%= f.label :dullness, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :sensitive, class: "form-control" %>
    <%= f.label :sensitive, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :firmness, class: "form-control" %>
    <%= f.label :firmness, class: "control-label" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :large_pores, class: "form-control" %>
    <%= f.label :large_pores, class: "control-label" %>
  </div>
  <div class="checkbox ">
    <%= f.check_box :dark_circles, class: "form-control" %>
    <%= f.label :dark_circles, class: "control-label" %>
  </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :notes, class: "control-label" %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <div class="btn btn-default">
    <%= f.submit %>
<% end %>
  </div>
