<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Visit date</th>
      <th>Egc</th>
      <th>Birthday</th>
      <th>Gwp</th>
      <th>Address</th>
      <th>Shipping address</th>
      <th>Age</th>
      <th>Aging</th>
      <th>Fine lines</th>
      <th>Dehydration</th>
      <th>Sun damage</th>
      <th>Excess oil</th>
      <th>Clogged pores</th>
      <th>Acne</th>
      <th>Dark spots</th>
      <th>Dullness</th>
      <th>Sensitive</th>
      <th>Firmness</th>
      <th>Large pores</th>
      <th>Dark circles</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.visit_date %></td>
        <td><%= client.egc %></td>
        <td><%= client.birthday %></td>
        <td><%= client.gwp %></td>
        <td><%= client.address %></td>
        <td><%= client.shipping_address %></td>
        <td><%= client.age %></td>
        <td><%= client.aging %></td>
        <td><%= client.fine_lines %></td>
        <td><%= client.dehydration %></td>
        <td><%= client.sun_damage %></td>
        <td><%= client.excess_oil %></td>
        <td><%= client.clogged_pores %></td>
        <td><%= client.acne %></td>
        <td><%= client.dark_spots %></td>
        <td><%= client.dullness %></td>
        <td><%= client.sensitive %></td>
        <td><%= client.firmness %></td>
        <td><%= client.large_pores %></td>
        <td><%= client.dark_circles %></td>
        <td><%= client.notes %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
