<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @client.visit_date %>
</p>

<p>
  <strong>Egc:</strong>
  <%= @client.egc %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Gwp:</strong>
  <%= @client.gwp %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @client.shipping_address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Aging:</strong>
  <%= @client.aging %>
</p>

<p>
  <strong>Fine lines:</strong>
  <%= @client.fine_lines %>
</p>

<p>
  <strong>Dehydration:</strong>
  <%= @client.dehydration %>
</p>

<p>
  <strong>Sun damage:</strong>
  <%= @client.sun_damage %>
</p>

<p>
  <strong>Excess oil:</strong>
  <%= @client.excess_oil %>
</p>

<p>
  <strong>Clogged pores:</strong>
  <%= @client.clogged_pores %>
</p>

<p>
  <strong>Acne:</strong>
  <%= @client.acne %>
</p>

<p>
  <strong>Dark spots:</strong>
  <%= @client.dark_spots %>
</p>

<p>
  <strong>Dullness:</strong>
  <%= @client.dullness %>
</p>

<p>
  <strong>Sensitive:</strong>
  <%= @client.sensitive %>
</p>

<p>
  <strong>Firmness:</strong>
  <%= @client.firmness %>
</p>

<p>
  <strong>Large pores:</strong>
  <%= @client.large_pores %>
</p>

<p>
  <strong>Dark circles:</strong>
  <%= @client.dark_circles %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @client.notes %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
